<nav class="secondary-nav">
  <ul>
    <li><a href="{{ '/all/' | relative_url }}">All</a></li>
    <li><a href="{{ '/bars-and-breads/' | relative_url }}">Bars &amp; Breads</a></li>
    <li><a href="{{ '/cookies/' | relative_url }}">Cookies</a></li>
    <li><a href="{{ '/cookie-dough/' | relative_url }}">Cookie Dough</a></li>
    <li><a href="{{ '/cupcakes/' | relative_url }}">Cupcakes</a></li>
    <li><a href="{{ '/holiday/' | relative_url }}">Holiday</a></li>
    <li><a href="{{ '/pies/' | relative_url }}">Pies</a></li>
    <li><a href="{{ '/truffles/' | relative_url }}">Truffles</a></li>
  </ul>
</nav>
