<nav class="top-nav">
  <div class="nav-wrapper">
    <ul class="nav-list left">
      <li><a href="{{ site.baseurl }}/">Home</a></li>
      <li><a href="{{ site.baseurl }}/about">About</a></li>
      <li><a href="{{ site.baseurl }}/all">Shop</a></li>
    </ul>

    <a href="{{ site.baseurl }}/" class="nav-logo">
      <img src="{{ site.baseurl }}/assets/images/sp_logo1-removebg-preview.png" alt="Logo">
    </a>

    <ul class="nav-list right">
      <li><a href="{{ site.baseurl }}/favors">Favors</a></li>
      <li><a href="{{ site.baseurl }}/testimonials">Testimonials</a></li>
      <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
    </ul>
  </div>
</nav>
